.patient-grid-icon-div {
    display: flex;
}

.patient-grid-div {
    justify-content: space-evenly;
}

#patients-header {
    display: inline-block;
    margin-left: 5%;
    /*float: left;*/
}

#patient-filter {
    display: inline-block;
    /*margin-left: auto;*/
    margin-right: 5%;
    /*resize: none;*/
    /*box-sizing: border-box;*/
    /*width: 10%;*/
    /*float: right;*/
}




