.backgroundBox {
    position: absolute;
     width: 1200px;
     height: 400px;
     left: 50%;
     top: 60%;
     transform: translate(-50%, -50%);
     background: #C8E2FF;
     border-radius: 8px;
 }