#account-page-hr {
    margin-top: -40px;
    width: 80%;
}

#account-page-h2 {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 0;
}

.account-page-container {
    background-color: #C8E2FF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15%;
    margin: auto;
}

.account-button-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.account-choice-button {
    width: 250px;
    height: 50px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    background: #2B6AB1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

.account-choice-button:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}